AlanView.json
{
  "name": "AlanView",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world-class blog posts. \nFor each new blog post project, you are provided with a list of keywords and search intent.\n- Keywords: The keywords are what the blog post is meant to rank for. They are scattered throughout the bold post and define the topic of the blog post. \n- Search intent: The search intent recognizes the intent of the user when searching up the keyword that defines the theme of the blog post, so they click on our blog to satisfy their search.\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally.\nGiven a list of keywords and search intent, your job is to understand the goal of the blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post.\nYour output must:\n- Recognize the discussion points of the blog post.\n- Be in dot point format\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords.\nWhen making the plan, keep in mind that all keywords must be used in the final blog post.\nThe final goal of the project is to create a high-quality, high-value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic.\nA new project just came across your desk with the below keywords and search intent:\n\nKeywords \n{{ $json.Keywords }}\n\nSearch Intent:\n{{ $json.Intent }}\n\nPrimary keyword:\n{{ $json['Primary Keyword']}}\n\nCreate the preliminary plan."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        2940
      ],
      "id": "9baf8015-3e99-4012-8a85-25ec2bca2f82",
      "name": "Preliminary Plan",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vXINP_LGZTE2X9wdP-hJpF5O3osmrr4w79iAZTe2W0E",
          "mode": "list",
          "cachedResultName": "AlanView Blog List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vXINP_LGZTE2X9wdP-hJpF5O3osmrr4w79iAZTe2W0E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vXINP_LGZTE2X9wdP-hJpF5O3osmrr4w79iAZTe2W0E/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Completed",
              "lookupValue": "No"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        2940
      ],
      "id": "917b3c7f-25f7-449c-8b51-af8b933d8876",
      "name": "Grab New Cluster1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        2940
      ],
      "id": "add5564f-1065-4177-967e-e03846bdf007",
      "name": "Fix Links1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openai/gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "OPENAI/GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster1').item.json.Keywords }} \n\nSearch intent: \n{{ $('Grab New Cluster1').item.json.Intent }}\n\nPreliminary plan: \n{{ $('Preliminary Plan').item.json.message.content }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster1').item.json['Primary Keyword'] }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        2780
      ],
      "id": "a4a18bbc-4fda-4e65-bc3e-a05cf8d8c1fa",
      "name": "Create plan1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be very detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 1200 to 1500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.message.content }}\n\nDetailed Research: \n{{ $('Fix Links1').item.json.research }}\n\n\nWrite the blog post.\nRemove all \" "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        860,
        2780
      ],
      "id": "468c2e45-527c-478e-8929-fa90a85b6033",
      "name": "Write Blog1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        3000
      ],
      "id": "0e83f600-ff21-4423-999c-d9cb62d11896",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "O1-MINI-2024-09-12"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Write Blog1').last().json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1480,
        2860
      ],
      "id": "f8738b9b-23f9-4edb-a037-0051601050a2",
      "name": "Add internal links1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Add internal links1').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster1').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2140,
        3000
      ],
      "id": "9c753a23-273c-431c-8398-c14fb42446ff",
      "name": "Slug1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Add internal links1').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster1').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2460,
        3000
      ],
      "id": "cd9a43a8-18eb-488c-83f0-9831473c66b3",
      "name": "Title1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Add internal links1').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster1').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster1').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2760,
        3000
      ],
      "id": "3550b61d-3e7a-4c01-a13d-f2e93c90176a",
      "name": "Meta description1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-preview",
          "mode": "list",
          "cachedResultName": "O1-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=DO NOT OUTPUT ANYTHING OTHER THAN THE CODE. I want you to follow the layout of the template as a guide to generate the Shopify code for a blog post. Here are the rules to follow:\n\nThe blog post should have a title, estimated reading time, key takeaways, table of contents, body, and FAQ in this order.\nMake it engaging by using italics, dot points, quotes, bold, spaces, and sometimes new lines. Never use emojis.\nThe blog post will have some URLs referenced next to certain keyphrases to show where the info came from. You must hyperlink the keyphrase with the provided URL so that the reader can click on the referenced URL. It is critical you get this right.\nWrap the entire content in a container <div> with inline CSS that sets the text color to black (#000000), uses a legible font such as Arial, sans-serif, and sets line-height to 1.6.\nEnsure that all non-heading text elements (e.g., paragraphs, list items) have an inline style or embedded style that sets their font size to 20px and color to black (#000000) using !important to override theme styles.\nPlace a (<br>) when you want a new line don’t write \\n\nHyperlinks, points in the table of contents, and FAQ questions must be styled in blue (#00c2ff). There should be no more than 5 points in the table of contents.\nAll headings and subheadings should have an underline implemented via a bottom border in blue (#00c2ff) with appropriate padding.\nPlace a double break (<br><br>) between each section to improve readability.\nDo not output any extra text or mention code tags like HTML''' around the output; just output the HTML code.\nBlog post: \n\n{{ $json.message.content }}\n\nHere's an example of a well formatted output:\n\n<div style=\"color: #000000; font-family: Arial, sans-serif; line-height: 1.4;\">\n  <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" \n      class=\"wp-block-heading\" \n      style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin-bottom: 0.5em;\">\n    Devin AI: The Hype and Reality of an AI Software Engineer\n  </h1>\n\n  <p class=\"estimated-reading-time\" style=\"color: #ffffff; font-size: 20px !important; margin: 0.5em 0;\">\n    Estimated reading time: 5 minutes\n  </p>\n\n  <h2 id=\"h-key-takeaways\" \n      class=\"wp-block-heading\" \n      style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin: 1em 0 0.5em;\">\n    <strong>Key Takeaways</strong>\n  </h2>\n\n  <ul class=\"wp-block-list\" style=\"margin: 0.5em 0; padding-left: 1.5em;\">\n    <li style=\"margin-bottom: 0.3em;\">\n      <mark style=\"background-color: #ffd966;\">\n        <strong>Devin AI</strong>\n      </mark> claims to be the world's first fully autonomous AI software engineer.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Initial demos and claims have generated significant \n      <mark style=\"background-color: #ffff00;\">hype</mark> and interest.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Critics argue some capabilities may be exaggerated or misleading.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Real-world testing reveals both <em>strengths</em> and <em>limitations</em>.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      The true impact on software engineering remains to be seen.\n    </li>\n  </ul>\n\n  <div class=\"wp-block-yoast-seo-table-of-contents yoast-table-of-contents\" style=\"margin: 1em 0;\">\n    <h2 style=\"color: #ffffff; border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin-bottom: 0.5em;\">\n      Table of contents\n    </h2>\n    \n    <ul style=\"margin: 0.5em 0; padding-left: 1.5em;\">\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" \n           data-level=\"1\" \n           style=\"color: #00c2ff;\">\n          Devin AI: The Hype and Reality of an AI Software Engineer\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-key-takeaways\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Key Takeaways\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-what-is-devin-ai\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          What is Devin AI?\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-hype-around-devin-ai\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Hype Around Devin AI\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-putting-devin-to-the-test\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Putting Devin to the Test\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-reality-check\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Reality Check\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-future-of-ai-in-software-development\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Future of AI in Software Development\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-frequently-asked-questions\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Frequently Asked Questions\n        </a>\n      </li>\n    </ul>\n  </div>\n\n  <p style=\"margin: 1em 0;\">\n    Devin AI has burst onto the tech scene, promising to revolutionize software development as we know it. \n    But does this AI-powered coding assistant live up to the hype? Let's dive into what Devin AI really is, \n    what it can do, and what developers are saying after putting it to the test.\n  </p>\n</div>\n\nImportant REPLACE ALL \" with '\nRemove all Line breaks\nREMOVE ALL \" "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1780,
        2880
      ],
      "id": "9efa08f1-6301-4308-9510-08db01de8f99",
      "name": "HTML version1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Title1').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        3000
      ],
      "id": "7265453e-db61-4928-a5f1-a4666ff601a3",
      "name": "Image Covers1",
      "credentials": {
        "serpApi": {
          "id": "OxHEuFnv0fcvqGsV",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3300,
        3000
      ],
      "id": "2af7ca5c-5a13-466b-84ab-a8f51a3ed665",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vXINP_LGZTE2X9wdP-hJpF5O3osmrr4w79iAZTe2W0E",
          "mode": "list",
          "cachedResultName": "AlanView Blog List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vXINP_LGZTE2X9wdP-hJpF5O3osmrr4w79iAZTe2W0E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Completed": "Yes",
            "Cluster": "={{ $('Grab New Cluster1').item.json.Cluster }}"
          },
          "matchingColumns": [
            "Cluster"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3760,
        3000
      ],
      "id": "91655987-dcfd-4efb-8529-8602104e9815",
      "name": "Check as completed on Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0",
          "mode": "list",
          "cachedResultName": "AlanView Completed Blogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HyLpHE--OdblQum9ERqjvFQO4jkI-lSCNfUNAvwCfvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "=https://awblog.club90.in/{{ $('To Alanview Ghost').item.json.posts[0].slug }}",
            "Blog Title": "={{ $('Title1').item.json.message.content }}",
            "Keywords": "={{ $('Grab New Cluster1').item.json.Keywords }}",
            "Summary": "={{ $('Meta description1').item.json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3960,
        3000
      ],
      "id": "466c6a8d-283f-4974-982c-7811b76334d4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        2840
      ],
      "typeVersion": 1,
      "id": "39bbf431-2c1c-47e8-970f-33a20371734b",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        2840
      ],
      "typeVersion": 1,
      "id": "f6cc965f-57d1-4b25-97d5-1282eca73877",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        2840
      ],
      "typeVersion": 1,
      "id": "3693c441-53d7-4f42-a3e5-3b54921370e3",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        2700
      ],
      "typeVersion": 1,
      "id": "fd45ab51-f8a7-43cd-8d64-57b61df14633",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        2700
      ],
      "typeVersion": 1,
      "id": "6df066bf-14c5-43bb-a3f9-bfe4d2c90a82",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        2940
      ],
      "id": "02e08240-c8ce-41b3-ad6c-e4d3185e3305",
      "name": "Research1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9L1MNyEHDKP6DFUv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Internal Links\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        2760
      ],
      "typeVersion": 1,
      "id": "05807c3d-7e9d-4e57-be1e-c25cdbc737d1",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 460,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        2760
      ],
      "typeVersion": 1,
      "id": "44fe62db-dab9-4bd3-bd5f-74c9faf69b3e",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2100,
        2920
      ],
      "typeVersion": 1,
      "id": "cf9546c6-ca4d-477a-81a7-e803eb858d6d",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2420,
        2920
      ],
      "typeVersion": 1,
      "id": "55402759-2157-4a91-8b1b-219d36cb8be5",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        2920
      ],
      "typeVersion": 1,
      "id": "ab528cf1-6d01-419c-ac49-14e2b97dbee3",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3020,
        2920
      ],
      "typeVersion": 1,
      "id": "2f286627-0f03-487d-8102-afc9a473c054",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3620,
        2920
      ],
      "typeVersion": 1,
      "id": "78de3e92-f3ef-4c6f-84d1-38971938a9d5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "jsCode": "function base64url(input) {\n  return Buffer.from(input)\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst [id, secret] = '684a0249352b2d0001c0354b:7ae3afec9719efe9fd1dea1538aa234860cecbbbdc9bb07ba7f9cee2c0b3d3e2'.split(':');\nconst header = { alg: 'HS256', typ: 'JWT', kid: id };\nconst payload = {\n  iat: Math.floor(Date.now() / 1000),\n  exp: Math.floor(Date.now() / 1000) + 5 * 60,\n  aud: '/admin/'  // 👈 Fixed this line\n};\n\nconst crypto = require('crypto');\n\nconst encodedHeader = base64url(JSON.stringify(header));\nconst encodedPayload = base64url(JSON.stringify(payload));\nconst token = `${encodedHeader}.${encodedPayload}`;\n\nconst hmac = crypto.createHmac('sha256', Buffer.from(secret, 'hex'));\nhmac.update(token);\nconst signature = base64url(hmac.digest());\n\nreturn [{ json: { token: `${token}.${signature}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        3260
      ],
      "name": "Generate JWT Token",
      "id": "e6571a85-b8a8-4539-8c91-2dfc59294154"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0",
          "mode": "list",
          "cachedResultName": "AlanView Completed Blogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1180,
        3000
      ],
      "id": "b5f082e6-ccec-4e77-b519-efe0a4b3ee56",
      "name": "Previous Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://awblog.club90.in/ghost/api/admin/posts/?source=html",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Authorization\": \"Ghost {{$json.token}}\",\n  \"Content-Type\": \"application/json\",\n  \"Accept-Version\": \"v5.0\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"posts\": [{\n    \"title\": \"{{ $('Title1').item.json.message.content }}\",\n    \"html\": \"<img src='{{ $('Image Covers1').item.json.images_results[7].original }}' alt='Cover Image' style='max-width:100%; height:auto;'><br>{{ $('HTML version1').item.json.message.content }}\",\n    \"status\": \"published\"\n  }]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3560,
        3260
      ],
      "id": "439935ef-601a-499a-8604-61aa9be55b20",
      "name": "To Alanview Ghost"
    },
    {
      "parameters": {
        "jsCode": "let html = $json[\"message\"][\"content\"];\n\n// Remove all <br> tags (you can be aggressive here)\nhtml = html.replace(/<br\\s*\\/?>/gi, '');\n\n// Remove empty <li> elements (which appear as extra bullets)\nhtml = html.replace(/<li>\\s*<\\/li>/gi, '');\n\n// Remove whitespace-only text nodes between <li> tags (could cause Ghost to render empty bullets)\nhtml = html.replace(/<\\/li>\\s*[\\r\\n\\s]*<li>/gi, '</li><li>');\n\n// Optional: trim the whole HTML to avoid any leading/trailing whitespace\nhtml = html.trim();\n\nreturn [\n  {\n    json: {\n      cleanedHtml: html\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        3100
      ],
      "id": "89bf06be-020e-4a74-a927-2b4948c96e22",
      "name": "Romove <br>"
    },
    {
      "parameters": {
        "content": "## Post it\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        3200
      ],
      "typeVersion": 1,
      "id": "4482f6db-f56e-46e1-b3fd-0bb2470bba75",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        4300
      ],
      "id": "65a1d091-60f6-4699-9d87-8d651212c44d",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \" Research the following topic and return everything you can find: '{{ $('Choosing Topic1').item.json.message.content }}' \"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        4300
      ],
      "id": "a256c5e4-debe-4451-9b14-ab67aab70a93",
      "name": "Research2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9L1MNyEHDKP6DFUv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" - source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        4300
      ],
      "id": "2acdde28-a529-4ae2-a67c-35c4df21610a",
      "name": "Fix Links2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1480,
        4300
      ],
      "id": "44800596-fedf-4cd9-862d-65ec99ed85c8",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "O1-MINI-2024-09-12"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creats world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Copywriter1').item.json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1620,
        4300
      ],
      "id": "43ef6630-2a0f-431e-aa8f-9d1d2637f0e8",
      "name": "Add internal links2",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a slug for the following blog post: \n{{ $('Add internal links2').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Choosing Topic1').item.json.message.content }}\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2520,
        4300
      ],
      "id": "d5abea2b-cecf-40d9-8539-d8b5515dabce",
      "name": "Slug2",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the blog post title from the following blog post: \n{{ $('Add internal links2').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword '{{ $('Choosing Topic1').item.json.message.content }}' and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2820,
        4300
      ],
      "id": "3069f97a-8159-4da2-93f2-82c7bf02266e",
      "name": "Title2",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a good meta description for the following blog post: \n\n{{ $('Add internal links2').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Choosing Topic1').item.json.message.content }}\n\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3120,
        4300
      ],
      "id": "028a4000-a7a1-481a-b723-d6ae4bda9db4",
      "name": "Meta description2",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-preview",
          "mode": "list",
          "cachedResultName": "O1-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=DO NOT OUTPUT ANYTHING OTHER THAN THE CODE. I want you to follow the layout of the template as a guide to generate the Shopify code for a blog post. Here are the rules to follow:\n\nThe blog post should have a title, estimated reading time, key takeaways, table of contents, body, and FAQ in this order.\nMake it engaging by using italics, dot points, quotes, bold, spaces, and sometimes new lines. Never use emojis.\nThe blog post will have some URLs referenced next to certain keyphrases to show where the info came from. You must hyperlink the keyphrase with the provided URL so that the reader can click on the referenced URL. It is critical you get this right.\nWrap the entire content in a container <div> with inline CSS that sets the text color to black (#000000), uses a legible font such as Arial, sans-serif, and sets line-height to 1.6.\nEnsure that all non-heading text elements (e.g., paragraphs, list items) have an inline style or embedded style that sets their font size to 20px and color to black (#000000) using !important to override theme styles.\nPlace a (<br>) when you want a new line don’t write \\n\nHyperlinks, points in the table of contents, and FAQ questions must be styled in blue (#00c2ff). There should be no more than 5 points in the table of contents.\nAll headings and subheadings should have an underline implemented via a bottom border in blue (#00c2ff) with appropriate padding.\nPlace a double break (<br><br>) between each section to improve readability.\nDo not output any extra text or mention code tags like HTML''' around the output; just output the HTML code.\nBlog post: \n\n{{ $json.message.content }}\n\nHere's an example of a well formatted output:\n\n<div style=\"color: #000000; font-family: Arial, sans-serif; line-height: 1.4;\">\n  <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" \n      class=\"wp-block-heading\" \n      style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin-bottom: 0.5em;\">\n    Devin AI: The Hype and Reality of an AI Software Engineer\n  </h1>\n\n  <p class=\"estimated-reading-time\" style=\"color: #ffffff; font-size: 20px !important; margin: 0.5em 0;\">\n    Estimated reading time: 5 minutes\n  </p>\n\n  <h2 id=\"h-key-takeaways\" \n      class=\"wp-block-heading\" \n      style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin: 1em 0 0.5em;\">\n    <strong>Key Takeaways</strong>\n  </h2>\n\n  <ul class=\"wp-block-list\" style=\"margin: 0.5em 0; padding-left: 1.5em;\">\n    <li style=\"margin-bottom: 0.3em;\">\n      <mark style=\"background-color: #ffd966;\">\n        <strong>Devin AI</strong>\n      </mark> claims to be the world's first fully autonomous AI software engineer.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Initial demos and claims have generated significant \n      <mark style=\"background-color: #ffff00;\">hype</mark> and interest.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Critics argue some capabilities may be exaggerated or misleading.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      Real-world testing reveals both <em>strengths</em> and <em>limitations</em>.\n    </li>\n    <li style=\"margin-bottom: 0.3em;\">\n      The true impact on software engineering remains to be seen.\n    </li>\n  </ul>\n\n  <div class=\"wp-block-yoast-seo-table-of-contents yoast-table-of-contents\" style=\"margin: 1em 0;\">\n    <h2 style=\"color: #ffffff; border-bottom: 2px solid #00c2ff; padding-bottom: 5px; margin-bottom: 0.5em;\">\n      Table of contents\n    </h2>\n    \n    <ul style=\"margin: 0.5em 0; padding-left: 1.5em;\">\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" \n           data-level=\"1\" \n           style=\"color: #00c2ff;\">\n          Devin AI: The Hype and Reality of an AI Software Engineer\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-key-takeaways\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Key Takeaways\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-what-is-devin-ai\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          What is Devin AI?\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-hype-around-devin-ai\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Hype Around Devin AI\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-putting-devin-to-the-test\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Putting Devin to the Test\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-reality-check\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Reality Check\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-the-future-of-ai-in-software-development\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          The Future of AI in Software Development\n        </a>\n      </li>\n      <li style=\"margin-bottom: 0.3em;\">\n        <a href=\"#h-frequently-asked-questions\" \n           data-level=\"2\" \n           style=\"color: #00c2ff;\">\n          Frequently Asked Questions\n        </a>\n      </li>\n    </ul>\n  </div>\n\n  <p style=\"margin: 1em 0;\">\n    Devin AI has burst onto the tech scene, promising to revolutionize software development as we know it. \n    But does this AI-powered coding assistant live up to the hype? Let's dive into what Devin AI really is, \n    what it can do, and what developers are saying after putting it to the test.\n  </p>\n</div>\n\nImportant REPLACE ALL \" with '\nRemove all Line breaks\nREMOVE ALL \" "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1940,
        4300
      ],
      "id": "6f768f60-94a9-410a-8fa1-ba965472f69f",
      "name": "HTML version2",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={\n  \"name\": \"tbs\",\n  \"value\": \"isz:l\"\n}\n{{ $('Choosing Topic1').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3460,
        4300
      ],
      "id": "63434404-723d-45e3-84b0-53c664856bb0",
      "name": "Image Covers2",
      "credentials": {
        "serpApi": {
          "id": "OxHEuFnv0fcvqGsV",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        4300
      ],
      "id": "248364b7-8382-4939-bbb9-0f3f0035936e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_trends",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=ai agents"
            },
            {
              "name": "geo",
              "value": "US"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "date",
              "value": "={{ $now.minus({ days: 3 }).format('yyyy-MM-dd') }} {{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "data_type",
              "value": "RELATED_QUERIES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        4260
      ],
      "id": "320e998f-b357-4f42-a7ed-68b8c1a6d75e",
      "name": "Trends1",
      "credentials": {
        "serpApi": {
          "id": "OxHEuFnv0fcvqGsV",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek/deepseek-r1",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts. Your job is to choose the topic for each blog post. \n\nThe blog posts are posted on the website of a AlanView + AI soultions company + Ai automation services + Small Businusses. The blog posts are mainly posted as part of an SEO campaign to get AlanView to rank high for its products and services.\n\nIn this instance, you are given a list of 2 keywords which have been trending the most on Google news search over the past few days. \n\nYour job is to pick one which you think would make for the most relevant blog post with the best SEO outcomes for the client. \n\nThe keywords have two attributes: \n\n1. query: This attribute determines the search query that users have been searching for which is trending. \n\n2. value: This attribute determines what percentage increase the keyword has seen compared to previous periods (i.e. the increase in search volume). \n\nYou must choose one out of the taking into consideration both the relevance of the keyword for AlanView's SEO efforts and the comparative trendiness determined by the value attribute. \n\nOutput the keyword you decided to post a blog on and nothing else. Don't explain your reasoning. Just output the keyword. \n\nThis instance: \n\nKeyword 1:\n{{ $('2 Most Trending').item.json['most-trending']['#1'].query }}\n\nKeyword2: \n{{ $('2 Most Trending').item.json['most-trending']['#2'].query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        4300
      ],
      "id": "26550cd6-444a-4f23-8c1d-8671c10ff59f",
      "name": "Choosing Topic1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "anthropic/claude-3.5-sonnet",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of a team that creates world class blog posts for SEO purposes. \n\nEvery week your team posts one blog post on the most trending news in this week of AI. As the copywriter for the blogs, you are provided with the folling information: \n\n- Query: The topic of this weeks blog post. This is the most trending news in the space.\n\n- Other keywords: This is a list of some high search volume keywords in the AI space. The goal is to include some of these into the blog post naturally. This is only optional and dependant on the natural dependancy of this weeks topic to the blog post. Include any of the keywords in the blog, if you can do so naturally without changing the meaning of the blog post.  \n\n\n- Research findings: This is research found from very reputable resources in relation to the topic of the post. Your blog post must be based off this research.\n\n\nGiven the said info, you must write the blog post.\n \nThe blog post must: \n\n- Place the query in the blog title, H1 header and early in the introduction. \n\n- Include all detail in research findings. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. (source url for each statement is given in the research findings next to the text)\n\n- Be very detailed. \n\n- Be using tone similar to that of a reporter, invoking curiosity and excitement and thrill in the readers.\n\n- Flow naturally and make sense. \n\n- Be at minimum 1500 to 2000 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nYour output must be the blog post and nothing else.\n\nHere are the details of your next blog post project: \n\nQuery: \n{{ $('Choosing Topic1').item.json.message.content }}\n\nDetailed Research: \n{{ $json.research }}\n\nWrite the blog post.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        980,
        4300
      ],
      "id": "66e7a266-b282-4bd0-85f7-6827c97b5117",
      "name": "Copywriter1",
      "credentials": {
        "openAiApi": {
          "id": "QBWRxqTGh8O5NOAl",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0",
          "mode": "list",
          "cachedResultName": "AlanView Completed Blogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        4300
      ],
      "id": "11245f8c-54f5-47df-b12c-bccc7da66f5f",
      "name": "Previous Posts1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function base64url(input) {\n  return Buffer.from(input)\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst [id, secret] = '684a0249352b2d0001c0354b:7ae3afec9719efe9fd1dea1538aa234860cecbbbdc9bb07ba7f9cee2c0b3d3e2'.split(':');\nconst header = { alg: 'HS256', typ: 'JWT', kid: id };\nconst payload = {\n  iat: Math.floor(Date.now() / 1000),\n  exp: Math.floor(Date.now() / 1000) + 5 * 60,\n  aud: '/admin/'  // 👈 Fixed this line\n};\n\nconst crypto = require('crypto');\n\nconst encodedHeader = base64url(JSON.stringify(header));\nconst encodedPayload = base64url(JSON.stringify(payload));\nconst token = `${encodedHeader}.${encodedPayload}`;\n\nconst hmac = crypto.createHmac('sha256', Buffer.from(secret, 'hex'));\nhmac.update(token);\nconst signature = base64url(hmac.digest());\n\nreturn [{ json: { token: `${token}.${signature}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3820,
        4300
      ],
      "name": "Generate JWT Token1",
      "id": "4ea647fa-e107-4505-a992-10bf17b3e731"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://awblog.club90.in/ghost/api/admin/posts/?source=html",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Authorization\": \"Ghost {{$json.token}}\",\n  \"Content-Type\": \"application/json\",\n  \"Accept-Version\": \"v5.0\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"posts\": [{\n    \"title\": \"{{ $('Title2').item.json.message.content }}\",\n    \"html\": \"<img src='{{ $('Image Covers2').item.json.images_results[0].original }}' alt='Cover Image 1' style='max-width:100%; height:auto;'><br><img src='{{ $('Image Covers2').item.json.images_results[1].original }}' alt='Cover Image 2' style='max-width:100%; height:auto;'><br>{{ $('HTML version2').item.json.message.content }}\",\n    \"status\": \"published\"\n  }]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        4300
      ],
      "id": "e7cfb1f5-c3a7-41b8-8c91-7a6d5fb2383d",
      "name": "To Alanview Ghost1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0",
          "mode": "list",
          "cachedResultName": "AlanView Completed Blogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wB_aJVtIrD-UaLQwcaLQmIltiJIwgnfQaFHXwlvSv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HyLpHE--OdblQum9ERqjvFQO4jkI-lSCNfUNAvwCfvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "=https://awblog.club90.in/{{ $('Slug2').item.json.message.content }}",
            "Blog Title": "={{ $('Title2').item.json.message.content }}",
            "Keywords": "={{ $('10 Most Trending1').item.json['most-trending']['#1'].query }}",
            "Summary": "={{ $('Meta description2').item.json.message.content }}",
            "Trends Use": "{{ $('2 Most Trending1').item.json['most-trending']['#1'].query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title",
              "displayName": "Blog Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trends Use",
              "displayName": "Trends Use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4120,
        4300
      ],
      "id": "7ed2207e-3afb-433e-81c8-929766d481c9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WqNGoH4gAzLfKNJX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let html = $json[\"message\"][\"content\"];\n\n// Remove all <br> tags (you can be aggressive here)\nhtml = html.replace(/<br\\s*\\/?>/gi, '');\n\n// Remove empty <li> elements (which appear as extra bullets)\nhtml = html.replace(/<li>\\s*<\\/li>/gi, '');\n\n// Remove whitespace-only text nodes between <li> tags (could cause Ghost to render empty bullets)\nhtml = html.replace(/<\\/li>\\s*[\\r\\n\\s]*<li>/gi, '</li><li>');\n\n// Optional: trim the whole HTML to avoid any leading/trailing whitespace\nhtml = html.trim();\n\nreturn [\n  {\n    json: {\n      cleanedHtml: html\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        4300
      ],
      "id": "d1b53af9-cc28-4498-8f4d-8659251b9adb",
      "name": "Romove <br>1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"most-trending\": {\n\n    \"#1\": { \n\n      \"query\":\"{{ $json.related_queries.rising[0].query }}\",\n      \"score\":\"{{ $json.related_queries.rising[0].extracted_value }}\"\n\n    },\n\n\n    \"#2\": { \n\n      \"query\":\"{{ $json.related_queries.rising[1].query }}\",\n      \"score\":\"{{ $json.related_queries.rising[1].extracted_value }}\"\n\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        4260
      ],
      "id": "1eeada62-2968-46aa-b9f7-697a6a3a19d5",
      "name": "2 Most Trending"
    },
    {
      "parameters": {
        "jsCode": "// Get the top array from your JSON\nconst topItems = $('Trends1').first().json.related_queries.top;\n\n// Filter the items to only include those with extracted_value > 30\nconst filtered = topItems.filter(item => item.extracted_value > 30);\n\n// Map the filtered items to their query values and join them with commas\nconst resultString = filtered.map(item => item.query).join(', ');\n\n// Return the result in a new JSON property\nreturn [{ json: { result: resultString } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        4300
      ],
      "id": "d3ae733e-cbaf-4376-9fbb-019a22314b75",
      "name": "High search volume keywords"
    }
  ],
  "pinData": {},
  "connections": {
    "Preliminary Plan": {
      "main": [
        [
          {
            "node": "Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster1": {
      "main": [
        [
          {
            "node": "Preliminary Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links1": {
      "main": [
        [
          {
            "node": "Create plan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create plan1": {
      "main": [
        [
          {
            "node": "Write Blog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog1": {
      "main": [
        [
          {
            "node": "Previous Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Add internal links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links1": {
      "main": [
        [
          {
            "node": "HTML version1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug1": {
      "main": [
        [
          {
            "node": "Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title1": {
      "main": [
        [
          {
            "node": "Meta description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description1": {
      "main": [
        [
          {
            "node": "Image Covers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Generate JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research1": {
      "main": [
        [
          {
            "node": "Fix Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Token": {
      "main": [
        [
          {
            "node": "To Alanview Ghost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version1": {
      "main": [
        [
          {
            "node": "Romove <br>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "To Alanview Ghost": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Romove <br>": {
      "main": [
        [
          {
            "node": "Slug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Trends1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research2": {
      "main": [
        [
          {
            "node": "Fix Links2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links2": {
      "main": [
        [
          {
            "node": "Copywriter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Add internal links2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links2": {
      "main": [
        [
          {
            "node": "HTML version2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug2": {
      "main": [
        [
          {
            "node": "Title2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title2": {
      "main": [
        [
          {
            "node": "Meta description2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description2": {
      "main": [
        [
          {
            "node": "Image Covers2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version2": {
      "main": [
        [
          {
            "node": "Romove <br>1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Generate JWT Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trends1": {
      "main": [
        [
          {
            "node": "2 Most Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choosing Topic1": {
      "main": [
        [
          {
            "node": "Research2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter1": {
      "main": [
        [
          {
            "node": "Previous Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Token1": {
      "main": [
        [
          {
            "node": "To Alanview Ghost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Alanview Ghost1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Romove <br>1": {
      "main": [
        [
          {
            "node": "Slug2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Most Trending": {
      "main": [
        [
          {
            "node": "High search volume keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High search volume keywords": {
      "main": [
        [
          {
            "node": "Choosing Topic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3a196a0-acb2-406c-b35b-b1c23f58d08c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29dd169faf76084007b2644c1b59efbfbb2863d802709a81957ed5b9e4aaa3df"
  },
  "id": "E8D2lPYjyNpxj9U2",
  "tags": [
    {
      "createdAt": "2025-06-13T20:19:45.010Z",
      "updatedAt": "2025-06-13T20:19:45.010Z",
      "id": "zPurO4iPiq2ZuCYE",
      "name": "marketing-automation"
    }
  ]
}